<mat-toolbar color="primary"> <!-- accent/basic -->
    <button mat-icon-button aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Che beviamo</span> <!-- Aggiungere il titolo nelle lingue 18i -->
    <span class="spacer"></span>
    <!-- <button mat-icon-button aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button  aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>
