<div class="container pt-2">
    <mat-card class="mat-elevation-z3 mb-2" *ngFor="let cocktail of cocktailList">
        <div class="row">
            <div class="col">
                <p>{{cocktail.id}} - {{cocktail.name}}</p>
                <p>{{cocktail.ingredients}}</p>
                <p>{{cocktail.instructions.IT}}</p>
            </div>
        </div>
    </mat-card>
    

    <div class="row">
        <div class="col d-flex justify-content-center">
            <button mat-raised-button (click)="getAll()">Scarica cocktail</button>
        </div>
    </div>
</div>
